# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.md            text
*.gitattributes text

# Declare files that will always have LF line endings on checkout.
*.py     text  eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.ps1    text  eol=crlf
*.psm1   text  eol=crlf
*.psd1   text  eol=crlf
*.psc1   text  eol=crlf
*.ps1xml text  eol=crlf
*.clixml text  eol=crlf
*.xml    text  eol=crlf
*.txt    text  eol=crlf
*.bat    text  eol=crlf

# Denote all files that are truly binary and should not be mergeable.
*.dll binary
*.exe binary
*.pyd binary
*.png binary

# Try not to mangle ConEmu files
/windows/conemu/**/*.map           text  eol=crlf
/windows/conemu/**/*.lng           text  eol=crlf
/windows/conemu/**/*.reg           text  eol=crlf
/windows/conemu/**/*.fml           text  eol=crlf
/windows/conemu/**/*.lua           text  eol=crlf
/windows/conemu/**/*.cmd           text  eol=crlf
/windows/conemu/**/*.pl            text  eol=crlf
/windows/conemu/**/*.xml           text  eol=crlf
/windows/conemu/**/*.ans           text  eol=crlf
/windows/conemu/**/*.farconfig     text  eol=crlf
/windows/conemu/**/*.conf          text  eol=crlf
/windows/conemu/**/*.l10n          text  eol=crlf
/windows/conemu/**/*.sha256        text  eol=crlf
/windows/conemu/**/*.md            text  eol=crlf
/windows/conemu/**/*.gitattributes text  eol=crlf
/windows/conemu/ConEmu/Addons/FarHere.dat    text eol=crlf
/windows/conemu/ConEmu/Far2_reg/FarWhite.reg text eol=lf
/windows/ConEmu_config_template.xml          text eol=lf

# Try not to mangle OpenSSL files
/windows/openssl/**/*.pl          text eol=crlf
/windows/openssl/x*/bin/progs.pl  text eol=lf
/windows/openssl/x*/bin/PEM/demoSRP/srp_verifier.txt  text eol=lf
